@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(34, 34, 34);
    color: rgb(212, 212, 212);
}

button {
    color: rgb(212, 212, 212);
    width: 200px;
    height: 45px;
    background-color: #2b2d2f;
    border: 2px solid #3b3f42;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    transition: 0.5s;

}

button:hover {
    background-color: #3b3f42;
    border: 2px solid #646a6e;
}

.not_found {
    text-align: center;
    font-size: 50px;
    margin-top: 35vh;
}

.not_found>p {
    margin: 0;
}

.products_list {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, auto);
}

.products_block {
    color: #d4d4d4;
    background-color: #1b1b1b;
    border: 2px solid #2e2e2e;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    text-align: center;
    transition: .5s;
    width: 250px;
    padding: 30px;
}

.products_block:hover {
    background-color: #272727;
    border: 2px solid #464646;
}

.product_item {
    display: grid;
    justify-content: center;
    text-align: center;
}

.main-info {
    text-align: center;
    background-color: #2b2d2f;
    border: 2px solid #3b3f42;
    border-radius: 30px;
    padding: 10px;
}

img {
    width: 300px;
}

.starList {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.active {
    color: orange;
}

.show_star {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin: 20px;
}